#emailTag{
    font-size: 0.7em;
    font-family: Arial,sans-serif;
}

#passwordTag{
    font-size: 0.7em;
    font-family: Arial,sans-serif;
}

.content{
    padding-bottom: 35%;
    height: auto;
}

a{
    text-decoration: none;
}
ul li a{
    text-decoration: none;
    font-size: 1em;
    font-family:Arial,sans-serif;
    font-weight: 500;
}

ul li a:hover{
    text-decoration: none;
}

.loginblock label{
    font-size: 0.9em;
}

.hidden{
    display: none;
}