.innerContent {
    background-color: white;
    width: 80%;
    height: auto;
    position: relative;
    left: 10%;
    padding: 5% 0 5% 0;
}

.innerContent label, .innerContent input {
    margin: 1% 0 1% 0;
    font-size: 1.1em;
    min-width: 40%;
}

.submitOrder {
    background-color: greenyellow;
    font-size: 1.1em;
    padding: 1%;
    border-radius: 10px;
}

.submitOrder:hover{
    cursor: pointer;
}

.innerContent select {
    margin: 1% 0 1% 0;
    font-size: 1.1em;
    min-width: 40%;
}

.innerContent select option{
    font-size: 1.1em;
}

.innerContent textarea{
    min-width: 40%;
    resize: horizontal;
}

.cardPay,.cashPay{
    display: none;
}

.finalPrice{
    font-size: 2em;
}

.notification{
    font-size: 1.5em;
    color: red;
    margin-bottom: 2%;
    font-weight: 400;
    display: none;
}

.errorMessage{
    margin-top: 2%;
    display: none;
    font-size: 1.5em;
    font-weight: 500;
    color: red;
}

.displayBlock{
    display: block;
}